@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<<h2>Project</h2>

<p></p>
<p></p>
<p></p>
<p></p>

<div class="card erikois-kortti">
    <div class="card-body">
        <h1 class="card-title">Bot Framework Demo</h1>
        <p class="card-text"></p>


    </div>
</div>


