@page
@model BottiDemo.Pages.ProjectModel
@{
    ViewData["Title"] = "Project";
}

<h2>Project</h2>

<p></p>
<p></p>
<p></p>
<p></p>

<div class="card text-white erikois-kortti">
    <div class="card-body">
        <h1 class="card-title">Demo</h1>
        <p class="card-text">Projektin vaiheet</p>


    </div>
</div>