@page
@model BottiDemo.Pages.ProjectModel
@{
    ViewData["Title"] = "Project";
}

<h2>Project</h2>

<p></p>
<p></p>
<p></p>
<p></p>

<div class="card text-white erikois-kortti">
    <div class="card-body">
        <h1 class="card-title">Projektin vaiheet</h1>


        <p>&#9642; Bot Framework v4 lisäosan asennus Visual Studioon</p>
        <p>&#9642; Asynkrooniseen ohjelmointiin tutustuminen .NET ympäristössä</p>
        <p>&#9642; Bot Framework emulaattorin asennus ja botin testaaminen</p>

        <p></p>
        <p>&#9642; Botin julkaiseminen Azure pilvipalveluun</p>
        <p>&#9642; ASP core Web Aplikaation rakentaminen Botin julkaisualustaksi</p>
        <p>&#9642; Botin WebChat-komponentin linkittäminen ASP core Web Aplikaatioon</p>

        <p></p>
        <p>&#9642; Web-sovelluksen viimeistely Bootstrapin ja CSS:n avulla</p>
        <p>&#9642; Sovelluksen julkaiseminen Azure pilvipalveluun</p>



    </div>
</div>

<p></p>
<p></p>

<div class="card text-white erikois-kortti">
    <div class="card-body">
        <h1 class="card-title">Jatkosuunnitelmat</h1>


        <p>&#9642; WebChat-käyttöliittymän ulkoasun muokkaus ja komponenttien lisääminen</p>
        <p>&#9642; Botin toimintojen laajentaminen väliohjelmistojen (Middleware) avulla</p>
        <p>&#9642; LUIS (kielen tunnistus) toiminnon lisääminen bottiin</p>




    </div>
</div>