@page
@model BottiDemo.Pages.ToolsModel
@{
    ViewData["Title"] = "Tools";
}

<h2>Tools</h2>

<p></p>
<p></p>
<p></p>
<p></p>

<div class="card text-white erikois-kortti">
    <div class="card-body">


        <div class="card-header">
            <h1>Tekniikat</h1>
        </div>

        <table class="card-table table text-white">
            <thead>

            </thead>
            <tbody>


                <tr><td>Microsoft Bot Framework v4 (Visual Studio Extension)</td></tr>

                <tr><td>Microsoft Bot Framework Emulaattori (Botin testaus)</td></tr>

                <tr><td>.NET Core Web Application (Demon julkaisualusta)</td></tr>

                <tr><td>Microsoft Azure pilvipalvelu</td></tr>

                <tr><td>Bootsrap, CSS animointi ja Javascript (Visuaalinen toteutus)</td></tr>

            </tbody>
        </table>

        

    </div>
</div>

