@page
@model BottiDemo.Pages.ToolsModel
@{
    ViewData["Title"] = "Tools";
}

<h2>Tools</h2>

<p></p>
<p></p>
<p></p>
<p></p>

<div class="card text-white erikois-kortti">
    <div class="card-body">
        <h1 class="card-title">Demo</h1>
        <p class="card-text">Käytetyt työkalut</p>


    </div>
</div>